
/*Universal Styles */
html{
  font-family: sans-serif;
}
.v-center{
  margin: auto 0;
}

.media-container{
  width: 60%;
  margin: 2rem 1.5rem;
}

.media-container-sm{
  width: 35%;
  margin: 1rem 1rem;
}

.mobile-container{
  width: 100%;
  margin: 1rem 1rem;
}

img{
  width: 100%;
}

.container{
  width:40%;
  display: flex;
  flex-direction: column;
}
/*Header Section*/
header{
  height: 4rem;
  display: flex;
  justify-content:space-between;
  padding: 0 1.5rem;
}

.logo{
  display: flex;
}

.logo span{
  font-size: 1.2rem;
}
.logo span:first-child{
  font-weight: bold;
}
.logo span:last-child{
  color: grey;
}

.menu ul{
  display: flex;
}
.menu li{
  margin-right: 1rem;
}
.menu li:last-child{
  margin-right: 0;
}

.mobile{
  display: none;
}

@media only screen and (max-width: 600px){
  header{
    padding: 0 0;
  }
  .logo, .menu{
    display: none;
  }
  .mobile{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }


}
/*Section 1 - Learn Something new..*/
.section-1{
  background-color: lightgrey;
  display: flex;
}

.section-1 h1{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-1 h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.button{
  background-color: hsl(0, 0%, 30%);
  text-align: center;
  padding: .5rem 0;
  width: 15rem;
  color: white;
}


@media only screen and (max-width: 600px){
  .section-1{
    flex-direction: column;
  }
  .media-container{
    width: 100%;
    margin: 0 0;
  }
  .container{
    width: 100%;
    /*padding: 2rem 1rem 2rem 1rem;*/
  }

  .section-1 h1{
    margin: 2rem 0 2rem 1rem;
  }
  .section-1 h3{
    margin: 0 0 2rem 1rem;
  }
  .button{
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
/*Section 2 - It doesn't hurt to keep practicing*/
.section-2{
  display: flex;
  color: hsl(0, 0%, 30%);
}

.section-2 .container{
  margin-top: 2rem;
}

.section-2 h1{
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.section-2 .media-container p:last-child{
  font-size: .85rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.orientation, .campus, .lecture{
  width: 65%;
  margin-left: 1rem;
}
.info{
  display: flex;
  border: 1px solid hsl(0, 0%, 90%);
}

.info p{
  margin: .5rem 0;
}

.info h2{
  font-size: 1.4rem;
  font-weight: bold;
}

.info a{
  text-decoration: none;
  color: hsl(204, 100%, 50%);
}
.section-2 .info:last-child{
  background-color: lightgrey;
}

.mobile-container{
  display: none;
}

@media only screen and (max-width: 600px){
  .section-2 .media-container{
    display: none;
  }
  .section-2 .container{
    margin-top: 0;
  }
  .info{
    flex-direction: column;
    border: none;
  }

  .info:last-child{
    background-color: white;

  }
  .media-container-sm{
    display: none;
  }

  .mobile-container{
    display: block;
    width: auto;
  }

  .orientation, .campus, .lecture{
    margin-bottom: 4rem;
  }
}
/*Section 3 - Start Learning */
.section-3{
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
}
.section-3 h1{
  padding: 2rem 0;
  margin: 0 auto;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}

.course-container{
  display: flex;
  padding: 0 4.5rem 2rem 4.5rem;
}

.course{
  background-color: white;
  display: inline-block;
  width: 31.357%;
}

.course:nth-child(2){
  margin-left: 2rem;
  margin-right: 2rem;
  }

.course img{
  height: auto;
}

.course h2{
  /*margin-top: 1rem;*/
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.course-text p:nth-child(2n+0){
  margin-bottom: .5rem;
}
.course p:last-child{
  /*argin-bottom: 1.5rem;*/
}

.course-text{
  margin: 1rem 0 1.5rem 1rem;
}

.course-mobile{
  display: none;
}
@media only screen and (max-width: 768px){
  .section-3{
    background-color: white;
    border-top: 1px solid hsl(0, 0%, 90%);
  }

  .section-3 h1{
    padding: 2rem 0 1rem 0;
  }
  .field{
    padding: 1rem 0 1.5rem 1rem;
    background-color: lightgrey;
    margin: 0 1rem;
    margin-bottom: .5rem;
  }

  .field:last-child{
    margin-bottom: 2rem;
  }

  .section-3 h2{
    font-size: 1.4rem;
  }

  .course-container{
    display: none;
  }

  .course-mobile{
    display: flex;
    flex-direction: column;
  }
}
/*Section 4 - Thesis Exhibit */
.thesis h1{
  margin: 2rem 0 2rem 0;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}

.section-4-flex{
  display: flex;
}

.section-4-flex .media-container{
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.section-4-flex .media-container h1{
  margin: 1.5rem 0 .5rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.section-4-flex .media-container p{
  margin-bottom: 2rem;
}

.section-4 .info{
  border: none;
}
.section-4 .info:first-child{
  background-color: lightgrey;
}

@media only screen and (max-width: 600px){
  .section-4{
    border-top: 1px solid hsl(0, 0%, 90%)
  }
  .thesis h1{
    margin: 2rem 0 1rem 0;
  }
  .section-4-flex .media-container{
    margin: 0 0;
  }
  .section-4 .container{
    display: none;
  }

  .section-4-flex h1, .section-4 p{
    display: none;
  }
}
/*Footer*/
