
/*Universal Styles */
html{
  font-family: sans-serif;
}
.v-center{
  margin: auto 0;
}

.media-container{
  width: 60%;
  margin: 2rem 1.5rem;

}

.media-container-sm{
  width: 35%;
}
img{
  max-width: 100%;
}

/*Header Section*/
header{
  height: 4rem;
  display: flex;
  justify-content:space-between;
  padding: 0 1.5rem;
}

.logo{
  display: flex;
}

.logo span{
  font-size: 1.2rem;
}
.logo span:first-child{
  font-weight: bold;
}

.menu ul{
  display: flex;
}
.menu li{
  margin-right: 1rem;
}
.menu li:last-child{
  margin-right: 0;
}

/*Section 1 - Learn Something new..*/
.section-1{
  background-color: lightgrey;
  display: flex;
}

.section-1 h1{
  font-size: 2rem;
  font-weight: bold;
}
.button{
  background-color: gray;
}
.button{
  text-align: center;
  padding: .5rem 0;
  width: 300px;
}
/*Section 2 - It doesn't hurt to keep practicing*/

/*Section 3 - Start Learning */

/*Section 4 - Thesis Exhibit */

/*Footer*/
