
/*Universal Styles */
html{
  font-family: sans-serif;
}
.v-center{
  margin: auto 0;
}

.media-container{
  width: 60%;
  margin: 2rem 1.5rem;
}

.media-container-sm{
  width: 35%;
}
img{
  width: 100%;
}

.container{
  width:40%;
  display: flex;
}
/*Header Section*/
header{
  height: 4rem;
  display: flex;
  justify-content:space-between;
  padding: 0 1.5rem;
}

.logo{
  display: flex;
}

.logo span{
  font-size: 1.2rem;
}
.logo span:first-child{
  font-weight: bold;
}
.logo span:last-child{
  color: grey;
}

.menu ul{
  display: flex;
}
.menu li{
  margin-right: 1rem;
}
.menu li:last-child{
  margin-right: 0;
}

.mobile{
  display: none;
}

@media only screen and (max-width: 600px){
  header{
    padding: 0 0;
  }
  .logo, .menu{
    display: none;
  }
  .mobile{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }


}
/*Section 1 - Learn Something new..*/
.section-1{
  background-color: lightgrey;
  display: flex;
}

.section-1 h1{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-1 h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.button{
  background-color: hsl(0, 0%, 30%);
  text-align: center;
  padding: .5rem 0;
  width: 15rem;
  color: white;
}
.section-1 .container{

  flex-direction: column;
}

@media only screen and (max-width: 600px){
  .section-1{
    flex-direction: column;
  }
  .media-container{
    width: 100%;
    margin: 0 0;
  }
  .container{
    width: 100%;
    /*padding: 2rem 1rem 2rem 1rem;*/
  }

  .section-1 h1{
    margin: 2rem 0 2rem 1rem;
  }
  .section-1 h3{
    margin: 0 0 2rem 1rem;
  }
  .button{
    margin: 0 auto;
    margin-bottom: 2rem;
  }

}
/*Section 2 - It doesn't hurt to keep practicing*/

/*Section 3 - Start Learning */

/*Section 4 - Thesis Exhibit */

/*Footer*/
